{% extends 'base.html'%}

{%block content%}

<br>

<div class="button-group">

<a href="{% url 'display_switch' %}" class="btn-primary btn-md" role="button">Switches</a>
<a href="{% url 'add_switch'%}" class="btn-warning btn-sm" role="button">+</a>

    <a href="{% url 'display_Ap' %}" class="btn-primary btn-md" role="button">Ap</a>
<a href="{% url 'add_ap'%}" class="btn-warning btn-sm" role="button">+</a>


    <a href="{% url 'display_PowerSupply' %}" class="btn-primary btn-md" role="button">PowerSupply</a>
<a href="{% url 'add_power_supply'%}" class="btn-warning btn-sm" role="button">+</a>


</div>

<br>

<h4>Currently Viewing {{ header }}</h4>

{{items}}

<!--<table class="table table-hover">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>id</th>-->
<!--        <th>Model</th>-->
<!--        <th>Price</th>-->
<!--        <th>Status</th>-->
<!--        <th>Issues</th>-->


<!--    </tr>-->
<!--    </thead>-->

<!--    <tbody>-->

<!--    {%for item in context.items %}-->
<!--    <tr>-->
<!--        <td>{{ item.pk}} </td>-->
<!--        <td>{{ item.type}} </td>-->
<!--        <td>{{ item.model}} </td>-->
<!--        <td>{{ item.status}} </td>-->
<!--        <td>{{ item.issues}} </td>-->
<!--        {%if header|lower == "Switch" %}-->
<!--        <td>-->
<!--            <a href="{url 'edit_switch'item.pk}" class="btn btn-warning btn-sm" role="button">Edit</a>-->
<!--             <a href="{url 'delete_switch'item.pk}" class="btn btn-danger btn-sm" role="button"> x</a>-->
<!--        </td>-->
<!--        {%elif header == "Ap"%}-->
<!--        <td>-->
<!--            <a href="{url 'edit_ap'item.pk}" class="btn btn-warning btn-sm" role="button">Edit</a>-->
<!--            <a href="{url 'delete_ap'item.pk}" class="btn btn-danger btn-sm" role="button"> x</a>-->
<!--        </td>-->
<!--        {%else%}-->
<!--        <td>-->
<!--            <a href="{url 'edit_power_supply'item.pk}" class="btn btn-warning btn-sm" role="button">Edit</a>-->
<!--            <a href="{url 'delete_power_suppply'item.pk}" class="btn btn-danger btn-sm" role="button"> x</a>-->
<!--        </td>-->
<!--        {%endif%}-->



<!--    </tr>-->
<!--    {% endfor %}-->

<!--    </tbody>-->

<!--</table>-->
{% endblock %}