{% extends 'base.html'%}

{%block content%}

<div class="container-fluid">

    <div class="card-deck">
      <div class="card">



            <a href="/display_switch" class="btn btn-danger" role="button" aria-pressed="true">Switches</a>

        </div>

      <div class="card">

      <a href="/display_accesspoint" class="btn btn-primary" role="button" aria-pressed="true">Access Points</a>

        </div>

    <div class="card">

        <a href="/display_powersupply" class="btn btn-secondary" role="button" aria-pressed="true">Power Supplies</a>
        </div>

    </div>


    <h4>Switches</h4>
    {{response.switches}}

    <h4>Power Supply</h4>
    {{response.powersupplies}}

    <h4>Access Point</h4>
    {{response.accesspoints}}

</div>


{% endblock %}